{% extends "base/base.html" %}
{% load static%}

{%block content %}
<h1>Cart is empty...!</h1>

<div class="mycart-page">
  <div class="left-side">
   <div class="left-side-cart"> 
    <div class="cart-item">
      <img src="{% static "images/dosa.jpg" %}" class="card-img-top item-img" alt="...">
      <div class="item-details">
          <h3><b>Chole Bhature</b></h3>
          <p>2 Bhature With Chole And Salad</p>
          <div class="item-info">
              <div class="price"><b>Price:</b> <span>40</span></div>
              <div class="quantity">
                  <label for="quantity">Quantity</label>
                  <div class="input-container">
                    <input type="number" id="quantity" value="1" min="1" r>
                  </div>
                
              </div>
              <div class="amount"><b>Amount:</b> <span>200</span></div>
          </div>
      </div>
      <button class="delete-item"><i class="fa-solid fa-trash"></i></button>
    </div>
  </div> 
<div class="cart-item">
  <img src="{% static "images/dum-biryani.jpg" %}" class="card-img-top item-img" alt="...">
  <div class="item-details">
      <h3>Chole Bhature</h3>
      <p>2 Bhature With Chole And Salad</p>
      <div class="item-info">
          <div class="price">Price: <span>40</span></div>
          <div class="quantity">
              <label for="quantity">Quantity</label>
              <div class="input-container">
                <input type="number" id="quantity" value="1" min="1" r>
              </div>
            
          </div>
          <div class="amount">Amount: <span>200</span></div>
      </div>
  </div>
  <button class="delete-item"><i class="fa-solid fa-trash"></i></button>
</div>

<div class="left-side-cart"> 
  <div class="cart-item">
    <img src="{% static "images/egg puff.jpg" %}" class="card-img-top item-img" alt="...">
    <div class="item-details">
        <h3>Chole Bhature</h3>
        <p>2 Bhature With Chole And Salad</p>
        <div class="item-info">
            <div class="price">Price: <span>40</span></div>
            <div class="quantity">
                <label for="quantity">Quantity</label>
                <div class="input-container">
                  <input type="number" id="quantity" value="1" min="1" r>
                </div>
              
            </div>
            <div class="amount">Amount: <span>200</span></div>
        </div>
    </div>
    <button class="delete-item"><i class="fa-solid fa-trash"></i></button>
  </div>
</div> 
<div class="cart-item">
<img src="{% static "images/veg puff.jpg" %}" class="card-img-top item-img" alt="...">
<div class="item-details">
    <h3>Chole Bhature</h3>
    <p>2 Bhature With Chole And Salad</p>
    <div class="item-info">
        <div class="price">Price: <span>40</span></div>
        <div class="quantity">
            <label for="quantity">Quantity</label>
            <div class="input-container">
              <input type="number" id="quantity" value="1" min="1" r>
            </div>
          
        </div>
        <div class="amount">Amount: <span>200</span></div>
    </div>
</div>
<button class="delete-item"><i class="fa-solid fa-trash"></i></button>
</div>
</div>

  <!-- right side div-->
  <div class="right-side">
    <div class=" cart-categories-items">
      <div class="card" style="width: 18rem;">
        <img src="{% static "images/veg puff.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <p><b>₹0</b></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}